body {
    padding-bottom: 30px;
    background-color: #8E44AD;
}

/* Custom container */
.container {
    margin: 0 auto;
    max-width: 1000px;
}

.container > hr {
    margin: 60px 0;
}

/* Header */
.jumbotron {
    margin: 80px 0;
    text-align: center;
    color: #ECF0F1;
}

.jumbotron h1 {
    font-size: 100px;
    line-height: 1;
    animation-name: fadeInDown;
    animation-duration: 1s;
    -webkit-animation-name: fadeInDown;
    -webkit-animation-duration: 1s;
}

.jumbotron .lead {
    font-size: 32px;
    line-height: 1.25;
    animation-name: fadeInUp;
    animation-duration: 2s;
    -webkit-animation-name: fadeInUp;
    -webkit-animation-duration: 2s;
}    

}

.row-fluid .span6 {
    text-align: center;
}

#input {
    width: 505px;
    margin-top: -10px;
    margin-bottom: 40px;
}

.echo {
    color: #ECF0F1;
    padding-top: 50px;
    animation-name: fadeIn;
    animation-duration: 2s;
    -webkit-animation-name: fadeIn;
    -webkit-animation-duration: 2s;
}

#sub {
    color: #ECF0F1;
    animation-name: fadeInUp;
    animation-duration: 2s;
    -webkit-animation-name: fadeIn;
    -webkit-animation-duration: 2s;
}

img {
    animation-name: fadeInUp;
    animation-duration: 2s;
    -webkit-animation-name: fadeIn;
    -webkit-animation-duration: 2s;
}

#submit_button {
    color: #ECF0F1;
    border: 2px solid #ECF0F1;
    padding: 7.5px;
    margin: 10px;
}

#submit_button:hover {

    background-color: #ECF0F1;
    border: 2px solid #ECF0F1;
    padding: 7.5px;
    color: #8E44AD;
    margin: 10px;
}

p a {
    margin-top: 50px;
}

img {
    float: top;
    width: 30%;
}