
@media only screen and (max-width: 750px)  {
    img {
        height: 200px;
    }

    #box {
        width: 100%;
        height: 100%;
        -webkit-box-shadow: none;
        -moz-box-shadow:    none;
        box-shadow:         none;

    }

    #words {
        width: 95%;
    }

    #words p {
        font-size: 16px;
    }

    .rg_embed {
        margin-top: 0px!important;
        margin-bottom: 0px!important;
        border-top: 0px!important;
        border-bottom: 0px!important;
    }

    .rg_embed_body {
        padding-bottom: 7px;
        padding-top: 7px;
    }

    #bg {
        display:none;
    }
}
@media only screen and (min-device-width: 375px)  {
    img {height: 150px;}
    #words p {font-size: 16px;}
}

@media only screen and (max-device-width: 374px) {
    img {height: 100px;}
    #words p {font-size: 14px;}
}


@media (max-height: 480px) {
    img {
        display: none;
    }
}